<%-include("../partials/header", {title: "Dashboard"})-%>
<body>
    <div class="sidebar" data-theme="light">
        <%-include("../partials/sidebar")-%>
    </div>
    <div class="content-home" id="content-home" data-theme="light" style="align-items: center;justify-content: center;user-select: none;">Welcome to Dashboard!</div>
<%-include("../partials/footer")-%>
