<%if (!ajax){%>
  <%-include("../partials/header", {title: "Dashboard"})-%>
  <body>
      <div class="sidebar" data-theme="light">
          <%-include("../partials/sidebar")-%>
      </div>
      <div class="content-home" id="content-home" data-theme="light">
<%}%>
    <div class="page-header">
      <%-page_name-%>
    </div>
    <div class="upload-box" id="uploadBox">
      Drag & Drop files here or Click to Upload
    </div>
    <input type="file" id="fileInput" style="display: none" accept="audio" multiple required/>
    <ul class="file-list" id="fileList"></ul>
    <button class="send-button" id="sendButton">Send Files</button>
  </div>

  <%if (!ajax) {%>
    <script src="/js/upload.js"></script>
  <%-include("../partials/footer")-%>
<%}%>